<nav>
        <a href="/"><h1>Logo</h1></a>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/todos">Todos</a></li>
        </ul>
</nav>