<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {{> navbar}}
    
    <h1>Welcome {{user.username}}</h1>
    <form action="/addblog" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Enter title">
        <label for="image">Image</label>
        <input type="file" id="image" name="image">
        <input type="text" name="content" placeholder="Enter content">
        <button type="submit">Add Blog</button>
    </form>
</body>
</html>