<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/myblog">Myblog</a></li>
            <li><a href="/blogs">All blogs</a></li>
        </ul>
    </nav>
    {{#each blogs as  |blog|}}
    <div>
        <div>{{user.username}}</div>
        <div>{{blog.title}}</div>
        <div>{{blog.content}}</div>
    </div>
    {{/each}}
</body>
</html>